body {background-image: url("../images/email-pattern.png")}

.headercontainer {
    width: 960px;
    margin: 0 auto;


}
header {
    width: 100%;
    background-color: white;
    height: 70px;
    border-bottom: solid darkgray 1px;




}



h1 {
    background-color: #4aaaaa;
    height: 30px;
    padding: 20px 10px;
    float: left;
    margin: 0;
}

nav {
    float: right;
    padding: 20px 0 0 0;

    
}

a {
    color: gray;
    text-decoration: none;
    margin-right: 10px;



}

section {
    width: 960px;
    margin:30px auto;
    background-color: white;
    padding: 20px;
    overflow: auto;


}

img {
    float: left;
    margin: 0 15px 15px 0;
}

footer {width: 100%;
    background-color: white;
    height: 70px;
    text-align: center;
    border-top: solid darkgray 1px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;


}

h3 {
    margin: 5px 5px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.button {
    background-color: #4aaaaa;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    cursor: pointer;
    width: 55px;
    padding: 8px 22px;

}

textarea {
    resize: vertical;
    width: 100%;
}

.imgcontainer {
    height: 194px;
    width: 259px;
    float: left;
    padding: 20px;
    margin: 22px 41px 13px 53px;
    position: relative
}

.portimages {
    height: 194px;
    width: 250px;
    position: relative;


}

.bannertext {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: inherit;
    background-color: #4aaaaa;
    color: white;
    text-align: center;
    position: absolute;

    


}